body {color: lightslategray;}


blockquote {
	background-color: rgba(0, 12, 24, .05);
}


.content1{
	border-color: black; border-style: solid;
}

em {
	color: darkred;
}

.variant-em {
	font-weight: bold;
	font-style: inherit;
	color: black;
	background-color: greenyellow;
}

ul {
	background-color: unset;
}


ul li {
	padding: 16px;
}

.link1 a {
	color: inherit;
	padding: inherit;
}

.link2 a {
	color: initial;
	padding: initial;
}

.link3 a {
	color: unset;
	padding: unset;
}
