table > thead{  background-color: #455a64; color: white; font-weight: 700;
  
}
table {
    border: 1px solid; border-color: #263238; width: 50%; 
}
caption{ color: #263238; font-weight: bold; font-size: 18px; margin-bottom: 20px;}

.alt tr:nth-child(even){
    background-color:  #eceff1;
}
.alt tr:nth-child(odd){
    background-color:  #b0bec5;
}
table > tfoot{ background-color: #78909c; font-weight: 800;}
table > tbody > tr> td:nth-child(2){color: #003300;}
table > tbody > tr> td:nth-child(3){color: #7f0000;}
table > tfoot, table > tbody > tr> td:nth-child(2),table > tbody > tr> td:nth-child(3),.alt tr:nth-child(odd),.alt tr:nth-child(even){text-align: right;}
table > thead > tr > th{text-align: center;}